<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/gameBoy.css">
    <link href="http://fonts.cdnfonts.com/css/roses-are-ff0000" rel="stylesheet">
    <title>GAME BOY</title>
</head>

<body>
    <div class="global">
        <canvas id="initial" width="180" height="180"></canvas>
        <div id="container-general">
            <div class="game-boy"></div>
            <div class="game-stage"></div>
            <div class="center"></div>
            <div class="buttons">
                <button id="one"></button>
                <button id="two"></button>
                <button id="three"></button>
                <button id="four"></button>
            </div>
            <div class="second-buttons">
                <button id="button-one" type="button"></button>
                <button id="button-two"></button>
            </div>
            <button id="detail-one"></button>
            <button id="detail-two"></button>
        </div>
    </div>
    <script src="../pages/logicGame.js"></script>
</body>

</html>